
<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/css/styleDetalle.css">
    <title> Detalle Producto </title> 
  </head>
<body>
  
  <div class="wrapper">
    <h2>Detalle Producto</h2>
    <form action="#">
      <div class="input-box">
        <input type="text" placeholder="Producto" required>
      </div>
      <div class="input-box">
        <input type="text" placeholder="Cantidad" required>
      </div>
      <div class="input-box">
        <input type="text" placeholder="Subtotal" required>
      </div>
      <div class="input-box">
        <select>
          <option disabled selected="">Seleccione un Estatus</option>  
            <option>Entregado</option>  
            <option>Pendiente</option>
            <option>En proceso</option>
            <option>Devolución</option>
            </select>
       
      </div>


      <div class="policy">
        <input type="checkbox">
        <h3>I accept all terms & condition</h3>
      </div>
      <div class="input-box button">
        <input type="Submit" value="Registar Ahora">
      </div>
      
    </form>
  </div>
</body>
</html>