<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/css/styleLogin.css">
    <script src="https://kit.fontawesome.com/29a89ceac5.js" crossorigin="anonymous"></script>
    <link rel="icon" href="../assets/img/logo.png">
    <title>Iniciar Sesion</title>

</head>
<body>
    <div class="wrapper">
        <span class="icon-close"><i class="fa-solid fa-x"></i></span>
        <div class="form-box_login">
            <h2>Login</h2>
            <form action="#">

                <div class="input-box">
                    <span class="icon">
                        <i class="fa-solid fa-envelope"></i>
                    </span>
                    <input type="email" required>
                    <label>Email</label>
                </div>

                <div class="input-box">
                    <span class="icon">
                        <i class="fa-sharp fa-solid fa-lock"></i>
                    </span>
                    <input type="password" required>
                    <label>Contraseña</label>
                </div>

                <div class="remember-forgot">
                    <label>
                        <input type="checkbox">recuerdame
                    </label>
                    <a href="#">olvidaste la contraseña?</a>
                </div>

                <button type="submit"class="btn">Login</button>

                <div class="login-registrer">
                    <p>no tienes cuenta?<a href="#" class="registrer-link">Registrate ahora!!</a>
                    </p>
                </div>
            </form>
        </div>

        <div class="form-box_registrer">
            <h2>Registro</h2>
            <form action="#">

                <div class="input-box">
                    <span class="icon">
                        <i class="fa-regular fa-id-card"></i>
                    </span>
                    <input type="text" required>
                    <label>Tipo de Documento</label>
                </div>
                <div class="input-box">
                    <span class="icon">
                        <i class="fa-regular fa-id-card"></i>
                    </span>
                    <input type="text" required>
                    <label>Numero Documento</label>
                </div>
                
                <div class="input-box">
                    <span class="icon">
                        <i class="fa-solid fa-user"></i>
                    </span>
                    <input type="text" required>
                    <label>Nombre</label>
                </div>

                <div class="input-box">
                    <span class="icon">
                        <i class="fa-solid fa-user"></i>
                    </span>
                    <input type="text" required>
                    <label>Apellido</label>
                </div>

                <div class="input-box">
                    <span class="icon">
                        <i class="fa-solid fa-mobile"></i>
                    </span>
                    <input type="text" required>
                    <label>celular</label>
                </div>

                <div class="input-box">
                    <span class="icon">
                        <i class="fa-solid fa-envelope"></i>
                    </span>
                    <input type="email" required>
                    <label>Email</label>
                </div>

                <div class="input-box">
                    <span class="icon">
                        <i class="fa-sharp fa-solid fa-lock"></i>
                    </span>
                    <input type="password" required>
                    <label>Contraseña</label>
                </div>

                <div class="remember-forgot">
                    <label>
                        <input type="checkbox">terminos y condiciones
                    </label>
  
                </div>

                <button type="submit"class="btn">Registrate!!</button>

                <div class="login-registrer">
                    <p>Ya estas registrado?<a href="#" class="login-link"> Inicia sesión</a>
                    </p>
                </div>
            </form>
        </div>

       
    </div>s

    <script src="../assets/js/login.js"></script>
</body>
</html>