<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Registro productos </title> 
    <link rel="stylesheet" href="../assets/css/styleprod.css">
    <link rel="icon" href="../assets/img/logo.png">
   </head>
<body>
  <div class="wrapper">
    <h2>Registro Producto</h2>
    <form action="#">
      <div class="input-box">
        <input type="text" placeholder="Nombre" required>
      </div>
      <div class="input-box">
        <input type="text" placeholder="Descripciòn" required>
      </div>
      <div class="input-box">
        <input type="password" placeholder="Precios" required>
      </div>
      <div class="input-box">
        <input type="password" placeholder="Estatus" required>
      </div>
      <div class="policy">
        <input type="checkbox">
        <h3>I accept all terms & condition</h3>
      </div>
      <div class="input-box button">
        <input type="Submit" value="Registar Ahora">
      </div>
      
    </form>
  </div>
</body>
</html>