<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <script src="https://kit.fontawesome.com/d42fb48da4.js" crossorigin="anonymous"></script>
  <link rel="icon" href="../assets/img/logo.png">
 <title> Quienes somos </title>
  <link rel="stylesheet" href="../assets/css/styleQuiSo.css">
</head>
<body>
  <header>
    <div id="logo" class="logo_title">
        <div class="logo">
            <img src="../assets/img/logo.png" alt="logoempre">
        </div>
        <div class="title">
            <h1>Supply and Flower</h1>
        </div>
    </div>

    <div class="hamburger">
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
    </div>

    <nav class="nav-bar">
        <ul>
            <li>
                <a href="" class="nav-link"><i class="fa-solid fa-cart-shopping"></i> Tienda</a>
            </li>
            <li>
                <a href="" class="nav-link"><i class="fa-sharp fa-solid fa-calendar-days"></i> Ocasiones</a>
            </li>
            <li>
                <a href="" class="nav-link"><i class="fa-solid fa-phone"></i> Contáctanos</a>
            </li>
            <li>
                <a href="#ubicanos" class="nav-link"><i class="fa-sharp fa-solid fa-location-pin"></i> Ubícanos</a> 
            </li>
            <li>
                <a href="" class="nav-link"><i class="fa-sharp fa-solid fa-users"></i> Quiénes Somos</a>
            </li>
            <li>
                <button type="submit" id="button" class="navbar-button"><i class="fa-solid fa-user"></i>Iniciar Sesión</button>
            </li>
        </ul>
    </nav>

</header>
    <section class="uno">
        <div class="imgn">
            <div class="img">
                <img src="" alt="">
            </div>
            
        </div>

    </section>
  <section class="quienes-So">
    <div class="somos">
      <img src="../assets/img/whatf.jpeg" class="pic">
      <div class="text">
        <h2>Quienes somos</h2>
        <h5>Supply and Flower</h5>
          <p>Es una floristería de urbana especializada en el arte de ofrecer rosas, con el fin de transmitir, por medio de sus variedades de arreglos, sentimientos y emociones en los sutiles campos de amor, amistad, agradecimiento, celebración y condolencia, esto para hacer vivir a sus clientes y destinatarias/os una experiencia inigualable. </p>
        <div class="data">
        <a href="#" class="hire">Contactanos</a>
        </div>
      </div>
    </div>
  </section>
  
  <section>
    <div class="origen">

    </div>
  </section>

  <footer>
      
    <div class="conten">
        <h1>
            contenido
        </h1>
        <div class="list">
            <ul>
                <li><a href="" class=""><i class="fa-solid fa-cart-shopping"></i> Tienda</a></li>
                <li><a href="" class=""><i class="fa-sharp fa-solid fa-calendar-days"></i> Ocasiones</a></li>
                <li><a href="" class=""><i class="fa-solid fa-phone"></i> Contáctanos</a></li>
                <li><a href="#ubicanos" class=""><i class="fa-sharp fa-solid fa-location-pin"></i> Ubícanos</a></li>
                <li><a href="" class=""><i class="fa-sharp fa-solid fa-users"></i> Quiénes Somos</a></li>
                <li><a href="" class="ini"><i class="fa-sharp fa-solid fa-user"></i> Iniciar sesión</a></li>
            </ul>
        </div>
    </div>

    <div class="conte">
        <img src="../assets/img/logo.png" alt="logo">
        <h1>
            Supply and Flower 
        </h1>
    </div>


</footer>
</body>
</html>