<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/css/styleTiendLinea.css">
    <title>Tienda en Línea</title>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="#">Inicio</a></li>
                <li><a href="#">Productos</a></li>
                <li><a href="#">Carrito</a></li>
            </ul>
        </nav>
    </header>
    <section class="products">
        <div class="product">
            <img src="../assets/img/flor1.png" width="200" height="200" alt="Producto 1">
            <h3> Kit florero cerámica</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            <span class="price">$99.99</span>
            <button>Agregar al Carrito</button>
        </div>
        <div class="product">
            <img src="../assets/img/flor2.png" width="200" height="200"alt="Producto 2">
            <h3>Canastos</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            <span class="price">$79.99</span>
            <button>Agregar al Carrito</button>
        </div>
        <div class="product">
            <img src="../assets/img/flor3.png" width="200" height="200"alt="Producto 2">
            <h3>Bouquet</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            <span class="price">$79.99</span>
            <button>Agregar al Carrito</button>
        </div>
        <div class="product">
            <img src="../assets/img/flor4.png" width="200" height="200"alt="Producto 2">
            <h3>Bouquet</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            <span class="price">$79.99</span>
            <button>Agregar al Carrito</button>
        </div>
        <div class="product">
            <img src="../assets/img/flor5.png" width="200" height="200"alt="Producto 2">
            <h3>Bouquet</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            <span class="price">$79.99</span>
            <button>Agregar al Carrito</button>
        </div>
        <div class="product">
            <img src="../assets/img/flor6.png" width="200" height="200"alt="Producto 2">
            <h3>Bouquet</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            <span class="price">$79.99</span>
            <button>Agregar al Carrito</button>
        </div>
        <div class="product">
            <img src="../assets/img/flor7.png" width="200" height="200"alt="Producto 2">
            <h3>Bouquet</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            <span class="price">$79.99</span>
            <button>Agregar al Carrito</button>
        </div>
        <div class="product">
            <img src="../assets/img/flor8.png" width="200" height="200"alt="Producto 2">
            <h3>Bouquet</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            <span class="price">$79.99</span>
            <button>Agregar al Carrito</button>
        </div>

            <h1>
                Recomendaciones del mes
            </h1>

        <div class="product1">

                <div class="product">
                    <img src="../assets/img/flor1.png" width="200" height="200"alt="Producto 2">
                    <h3>Bouquet</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                    <span class="price">$79.99</span>
                    <button>Agregar al Carrito</button>
                </div>
                <div class="product">
                    <img src="../assets/img/flor2.png" width="200" height="200"alt="Producto 2">
                    <h3>Bouquet</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                    <span class="price">$79.99</span>
                    <button>Agregar al Carrito</button>
                </div>
                <div class="product">
                    <img src="../assets/img/flor1.png" width="200" height="200"alt="Producto 2">
                    <h3>Bouquet</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                    <span class="price">$79.99</span>
                    <button>Agregar al Carrito</button>
                </div>
            </div>
        
       
            

        <!-- Agrega más productos aquí -->
    </section>
    <footer>
        <p>&copy; 2023 Tienda en Línea. Todos los derechos reservados.</p>
    </footer>
</body>
</html>